# OS Clutter
.DS_Store
Thumbs.db

# C / C++ Binaries & Debug Output
*.o
*.obj
*.exe
*.out
*.dSYM/

# PlatformIO & Embedded Build Outputs
.pio/

# Python & Virtual Environments
venv/
.venv/
machine-learning/hex/
__pycache__/
*.pyc

# C# & Blazor (.NET Ecosystem)
[Bb]in/

[Oo]bj/
.vs/
*.user
*.suo
appsettings.Development.json